body {
    background-color: black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
}

input.search {
    background-color: white;
    margin-top: 7px;
    margin-bottom: 7px;
}

label.searchLabel {
    color: white;
}

td,
th {
    text-align: center;
    padding: 8px;
    color: white;
}

tr.overBar {
    background-color: #400a06;
}

tr.underBar {
    background-color: #ab4a00;
}

tr:nth-child(even):not(.overBar):not(.underBar) {
    background-color: #400a06;
}

.T {
    background-color: #400a06;
}

.R {
    width: 10%;
}

tr:nth-child(odd):not(.overBar):not(.underBar) {
    background-color: #ab4a00;
}

.footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 1%;
}

#stats > tr:hover > td {
    text-decoration: underline;
}
