<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBD Stats</title>
    <meta content="Dead by Daylight Stats" property="og:title" />
    <meta id="desc" content="Dead by Daylight Statistics <%= amount %> games recorded!" property="og:description" />
    <meta content="https://embed.com/this-is-the-site-url" property="og:url" />
    <meta content="https://embed.com/embedimage.png" property="og:image" />
    <meta content="#210a0a" data-react-helmet="true" name="theme-color" />
    <link rel="stylesheet" href="./css/style.css?version=4">
    <script src="js/script.js?version=5"></script>
</head>

<body>
    <table class="sticky">
        <tr class="overBar">
            <th>Most Common Map</th>
            <th>Most Common Killer</th>
            <th>Most Common Perk</th>
            <th>Avg Kills</th>
        </tr>
        <tr class="underBar">
            <td id="commonMap">X</td>
            <td id="commonKiller">X</td>
            <td id="commonPerk">X</td>
            <td id="commonKills">X</td>
        </tr>
    </table>
    <label class="searchLabel" for="sort">Sort</label>
    <select class="search" id="sort" onchange="searchTable()">
        <option value="default">Default</option>
        <option value="killsLowHigh">Kills: Low > High</option>
        <option value="killsHighLow">Kills: High > Low</option>
    </select>
    <label class="searchLabel" for="searchKiller">Killer:</label>
    <input class="search" id="searchKiller" onkeyup="searchTable()" type="text">
    <label class="searchLabel" for="searchKills">Kills:</label>
    <input class="search" id="searchKills" onkeyup="searchTable()" onchange="searchTable()" type="number" min="0"
        max="4">
    <label class="searchLabel" for="searchMap">Map:</label>
    <input class="search" id="searchMap" onkeyup="searchTable()" type="text">
    <label class="searchLabel" for="searchPerk">Perk:</label>
    <input class="search" id="searchPerk" onkeyup="searchTable()" type="text">
    <label class="searchLabel" for="searchRegion">Region:</label>
    <select class="search" id="searchRegion" onchange="searchTable()">
        <option value="ALL">ALL</option>
        <option value="EU">EU</option>
        <option value="NAW">NAW</option>
        <option value="NAE">NAE</option>
        <option value="OCE">OCE</option>
        <option value="ASIA">ASIA</option>
    </select>
    <table>
        <tr>
            <th class="T R">#</th>
            <th class="T">Killer</th>
            <th class="T">Kills</th>
            <th class="T">Map</th>
            <th class="T">Perk 1</th>
            <th class="T">Perk 2</th>
            <th class="T">Perk 3</th>
            <th class="T">Perk 4</th>
            <th class="T R">Region</th>
        </tr>
        <tbody id="stats"></tbody>
    </table>
    <div class="footer" id="navButtons">
        <button id="size">Show Site Information</button>
        <button onclick="location.href='https://dbdstats.litecraft.org/rawstats'" type="button">Raw Statistics</button>
        <button onclick="location.href='https://dbdstats.litecraft.org/cperks'" type="button">Common Killer
            Perks</button>
        <button onclick="location.href='https://dbdstats.litecraft.org/addgame'" type="button">Add Stats</button>
    </div>
</body>

</html>