<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raw Statistics</title>
    <link rel="stylesheet" href="./css/rawstats.css?version=1">
    <script src="js/rawstats.js?version=1"></script>
</head>
<body>
    <center>
        <table>
            <tr>
                <th class="zero">#</th>
                <th class="first">Killer</th>
                <th class="second">Amount</th>
            </tr>
            <tbody id="killerBody"></tbody>
        </table>
        <br>
        <table>
            <tr>
                <th class="zero">#</th>
                <th class="first">Perk</th>
                <th class="second">Amount</th>
            </tr>
            <tbody id="perkBody"></tbody>
        </table>
        <br>
        <table>
            <tr>
                <th class="zero">#</th>
                <th class="first">Map</th>
                <th class="second">Amount</th>
            </tr>
            <tbody id="mapBody"></tbody>
        </table>
    </center>
    <div class="footer" id="navButtons">
        <button onclick="location.href='https://dbdstats.litecraft.org'" type="button">Main Page</button>
        <button onclick="location.href='https://dbdstats.litecraft.org/cperks'" type="button">Common Killer Perks</button>
        <button onclick="location.href='https://dbdstats.litecraft.org/addgame'" type="button">Add Stats</button>
    </div>
    
</body>
</html>